# Node.js dependencies
node_modules/

# WhatsApp session cache
.wwebjs_cache/

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional environment settings (si usas .env)
.env
.env.local